<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="PrintingHeight" value="1000"/>
    <add key="PrintingWindowHeight" value="100"/>
  </appSettings>
  <connectionStrings>
    <add name="OneShopEntities" connectionString="metadata=res://*/OrderModel.csdl|res://*/OrderModel.ssdl|res://*/OrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OneShop;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>    
  </connectionStrings>
</configuration>
