
*.dll
*.pdb
*.ide
.vs/OneShop/v15/.suo
.vs/OneShop/DesignTimeBuild/.dtbcache
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.CopyComplete
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.CoreCompileInputs.cache
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.FileListAbsolute.txt
OneShop.DAL/obj/Debug/OneShop.DAL.csprojAssemblyReference.cache
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop.DAL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
OneShop.DAL/obj/Release/OneShop.DAL.csproj.CopyComplete
OneShop.DAL/obj/Release/OneShop.DAL.csproj.CoreCompileInputs.cache
OneShop.DAL/obj/Release/OneShop.DAL.csproj.FileListAbsolute.txt
OneShop.DAL/obj/Release/OneShop.DAL.csprojAssemblyReference.cache
OneShop.DAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop.DAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop.DAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.dll
*.dll
OneShop.Model/bin/Release/OneShop.Model.pdb
OneShop.Model/bin/Release/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/obj/Debug/OneShop.Model.dll
OneShop.Model/obj/Debug/OneShop.Model.pdb
OneShop.Model/obj/Debug/TempPE/OrderModel.cs.dll
OneShop.Model/obj/Debug/TempPE/OrderModel.Designer.cs.dll
*.cache
Portable/2018-08-17.txt
Portable/OneShop.exe
Portable/OneShop.exe.config
Portable/OneShop.Model.dll.config
Portable/Portable.zip
Portable/EntityFramework.xml
Portable/OneShop.DAL.dll.config
OneShop.DAL/bin/Debug/OneShop.Model.dll.config
OneShop.DAL/bin/Debug/OneShop.DAL.dll.config
OneShop.DAL/bin/Debug/EntityFramework.xml
OneShop.DAL/bin/Debug/EntityFramework.SqlServer.xml
.vs/OneShop/DesignTimeBuild/.dtbcache
.vs/OneShop/DesignTimeBuild/.dtbcache
.vs/OneShop/v15/.suo
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
*.dll
*.pdb
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OneShop/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.txt
OneShop.Model/obj/Release/OneShop.Model.csproj.FileListAbsolute.txt
OneShop.Model/obj/Release/OneShop.Model.pdb
OneShop.Model/obj/Release/OneShop.Model.dll
OneShop.Model/obj/Release/OneShop.Model.csproj.FileListAbsolute.txt
OneShop.Model/obj/Debug/OneShop.Model.pdb
OneShop.Model/obj/Debug/OneShop.Model.dll
OneShop.Model/obj/Release/OneShop.Model.pdb
OneShop.Model/obj/Release/OneShop.Model.dll
OneShop.Model/obj/Release/OneShop.Model.csproj.FileListAbsolute.txt
OneShop.Model/obj/Debug/OneShop.Model.pdb
OneShop.Model/obj/Debug/OneShop.Model.dll
OneShop/obj/Debug/GeneratedInternalTypeHelper.g.cs
OneShop/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
OneShop/obj/Debug/MainWindow.baml
OneShop/obj/Debug/MainWindow.g.cs
OneShop/obj/Debug/MainWindow.g.i.cs
OneShop/obj/Debug/NewStock.baml
OneShop/obj/Debug/NewStock.g.cs
OneShop/obj/Debug/NewStock.g.i.cs
OneShop/obj/Debug/OneShop.csproj.CopyComplete
OneShop/obj/Debug/OneShop.exe
OneShop/obj/Debug/OneShop.Style.baml
OneShop/obj/Debug/OneShop_MarkupCompile.i.lref
OneShop/obj/Debug/OneShop_MarkupCompile.lref
OneShop/obj/Debug/OrderQuery.baml
OneShop/obj/Debug/OrderQuery.g.cs
OneShop/obj/Debug/OrderQuery.g.i.cs
OneShop/obj/Debug/Receipt.baml
OneShop/obj/Debug/Receipt.g.cs
OneShop/obj/Debug/Receipt.g.i.cs
OneShop/obj/Debug/RefundExchange.baml
OneShop/obj/Debug/RefundExchange.g.cs
OneShop/obj/Debug/RefundExchange.g.i.cs
OneShop/obj/Debug/Sales.baml
OneShop/obj/Debug/Sales.g.cs
OneShop/obj/Debug/Sales.g.i.cs
OneShop/obj/Debug/StockQuery.baml
OneShop/obj/Debug/StockQuery.g.cs
OneShop/obj/Debug/StockQuery.g.i.cs
OneShop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OneShop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop/obj/Release/App.baml
OneShop/obj/Release/App.g.cs
OneShop/obj/Release/App.g.i.cs
OneShop/obj/Release/GeneratedInternalTypeHelper.g.cs
OneShop/obj/Release/GeneratedInternalTypeHelper.g.i.cs
OneShop/obj/Release/MainWindow.baml
OneShop/obj/Release/MainWindow.g.cs
OneShop/obj/Release/MainWindow.g.i.cs
OneShop/obj/Release/NewStock.baml
OneShop/obj/Release/NewStock.g.cs
OneShop/obj/Release/NewStock.g.i.cs
OneShop/obj/Release/OneShop.csproj.CopyComplete
OneShop/obj/Release/OneShop.exe
OneShop/obj/Release/OneShop.g.resources
OneShop/obj/Release/OneShop.Properties.Resources.resources
OneShop/obj/Release/OneShop.Style.baml
OneShop/obj/Release/OneShop_MarkupCompile.i.lref
OneShop/obj/Release/OneShop_MarkupCompile.lref
OneShop/obj/Release/OrderQuery.baml
OneShop/obj/Release/OrderQuery.g.cs
OneShop/obj/Release/OrderQuery.g.i.cs
OneShop/obj/Release/Receipt.baml
OneShop/obj/Release/Receipt.g.cs
OneShop/obj/Release/Receipt.g.i.cs
OneShop/obj/Release/RefundExchange.baml
OneShop/obj/Release/RefundExchange.g.cs
OneShop/obj/Release/RefundExchange.g.i.cs
OneShop/obj/Release/Sales.baml
OneShop/obj/Release/Sales.g.cs
OneShop/obj/Release/Sales.g.i.cs
OneShop/obj/Release/StockQuery.baml
OneShop/obj/Release/StockQuery.g.cs
OneShop/obj/Release/StockQuery.g.i.cs
OneShop/obj/Debug/App.baml
OneShop/obj/Debug/App.g.cs
OneShop/obj/Debug/App.g.i.cs
.vs/OneShop/DesignTimeBuild/.dtbcache
.vs/OneShop/v15/.suo
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Debug/OneShop.Model.dll
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/.suo
.vs/OneShop/DesignTimeBuild/.dtbcache
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Debug/OneShop.Model.dll
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/.suo
.vs/OneShop/DesignTimeBuild/.dtbcache
.vs/OneShop/DesignTimeBuild/.dtbcache
.vs/OneShop/v15/.suo
.vs/OneShop/v15/Server/sqlite3/storage.ide
.vs/OneShop/v15/Server/sqlite3/storage.ide-shm
.vs/OneShop/v15/Server/sqlite3/storage.ide-wal
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Release/EntityFramework.dll
OneShop.Model/bin/Release/EntityFramework.SqlServer.dll
OneShop.Model/bin/Release/EntityFramework.SqlServer.xml
OneShop.Model/bin/Release/EntityFramework.xml
OneShop.Model/bin/Release/OneShop.Model.dll
OneShop.Model/bin/Release/OneShop.Model.dll.config
OneShop.Model/bin/Release/OneShop.Model.pdb
OneShop.Model/obj/Debug/DesignTimeResolveAssemblyReferences.cache
OneShop.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OneShop.Model/obj/Debug/OneShop.Model.dll
OneShop.Model/obj/Debug/OneShop.Model.pdb
OneShop.Model/obj/Debug/TempPE/OrderModel.Context.cs.dll
OneShop.Model/obj/Debug/TempPE/OrderModel.cs.dll
OneShop.Model/obj/Debug/TempPE/OrderModel.Designer.cs.dll
OneShop.Model/obj/Release/DesignTimeResolveAssemblyReferences.cache
OneShop.Model/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
OneShop.Model/obj/Release/edmxResourcesToEmbed/OrderModel.csdl
OneShop.Model/obj/Release/edmxResourcesToEmbed/OrderModel.msl
OneShop.Model/obj/Release/edmxResourcesToEmbed/OrderModel.ssdl
OneShop.Model/obj/Release/OneShop.Model.csproj.CopyComplete
OneShop.Model/obj/Release/OneShop.Model.csproj.CoreCompileInputs.cache
OneShop.Model/obj/Release/OneShop.Model.csproj.FileListAbsolute.txt
OneShop.Model/obj/Release/OneShop.Model.dll
OneShop.Model/obj/Release/OneShop.Model.pdb
OneShop.Model/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OneShop.Model/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop.Model/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop.Model/obj/Release/TempPE/OrderModel.Context.cs.dll
OneShop.Model/obj/Release/TempPE/OrderModel.cs.dll
OneShop.Model/obj/Release/TempPE/OrderModel.Designer.cs.dll
OneShop/bin/Debug/EntityFramework.xml
OneShop/bin/Debug/OneShop.exe
OneShop/bin/Debug/OneShop.exe.config
OneShop/bin/Debug/OneShop.exe
OneShop/bin/Debug/OneShop.exe.config
OneShop/obj/Debug/OneShop.g.resources
OneShop/obj/Debug/OneShop.Properties.Resources.resources
