
*.dll
*.pdb
*.ide
.vs/OneShop/v15/.suo
.vs/OneShop/DesignTimeBuild/.dtbcache
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.CopyComplete
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.CoreCompileInputs.cache
OneShop.DAL/obj/Debug/OneShop.DAL.csproj.FileListAbsolute.txt
OneShop.DAL/obj/Debug/OneShop.DAL.csprojAssemblyReference.cache
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop.DAL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
OneShop.DAL/obj/Release/OneShop.DAL.csproj.CopyComplete
OneShop.DAL/obj/Release/OneShop.DAL.csproj.CoreCompileInputs.cache
OneShop.DAL/obj/Release/OneShop.DAL.csproj.FileListAbsolute.txt
OneShop.DAL/obj/Release/OneShop.DAL.csprojAssemblyReference.cache
OneShop.DAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OneShop.DAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OneShop.DAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.dll
*.dll
OneShop.Model/bin/Release/OneShop.Model.pdb
OneShop.Model/bin/Release/OneShop.Model.dll
OneShop.Model/bin/Debug/OneShop.Model.pdb
OneShop.Model/bin/Debug/OneShop.Model.dll
OneShop.Model/obj/Debug/OneShop.Model.dll
OneShop.Model/obj/Debug/OneShop.Model.pdb
OneShop.Model/obj/Debug/TempPE/OrderModel.cs.dll
OneShop.Model/obj/Debug/TempPE/OrderModel.Designer.cs.dll
*.cache
Portable/2018-08-17.txt
Portable/OneShop.exe
Portable/OneShop.exe.config
Portable/OneShop.Model.dll.config
Portable/Portable.zip
Portable/EntityFramework.xml
Portable/OneShop.DAL.dll.config
OneShop.DAL/bin/Debug/OneShop.Model.dll.config
OneShop.DAL/bin/Debug/OneShop.DAL.dll.config
OneShop.DAL/bin/Debug/EntityFramework.xml
OneShop.DAL/bin/Debug/EntityFramework.SqlServer.xml
