@model OneShopCharts.Models.OrderDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetailID" />
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemBarcode" class="control-label"></label>
                <input asp-for="ItemBarcode" class="form-control" />
                <span asp-validation-for="ItemBarcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemCount" class="control-label"></label>
                <input asp-for="ItemCount" class="form-control" />
                <span asp-validation-for="ItemCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailPrice" class="control-label"></label>
                <input asp-for="DetailPrice" class="form-control" />
                <span asp-validation-for="DetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DatailDate" class="control-label"></label>
                <input asp-for="DatailDate" class="form-control" />
                <span asp-validation-for="DatailDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
