<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneShop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="OneShopEntities" connectionString="metadata=res://*/OrderModel.csdl|res://*/OrderModel.ssdl|res://*/OrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OneShop;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>    
  </connectionStrings>
  <userSettings>
    <OneShop.Properties.Settings>
      <setting name="Sales" serializeAs="String">
        <value>销售订单</value>
      </setting>
      <setting name="MainTitle" serializeAs="String">
        <value>One Shop</value>
      </setting>
      <setting name="StockIn" serializeAs="String">
        <value>入库</value>
      </setting>
      <setting name="OrderQuery" serializeAs="String">
        <value>订单查询</value>
      </setting>
      <setting name="StockQuery" serializeAs="String">
        <value>库存查询</value>
      </setting>
      <setting name="PrintingHeight" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PrintingWindowHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PrintEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DailyReport" serializeAs="String">
        <value>销售日报</value>
      </setting>
      <setting name="Statistical" serializeAs="String">
        <value>统计</value>
      </setting>
    </OneShop.Properties.Settings>
  </userSettings>
</configuration>
